@inject NavigationManager NavigationManager

<h3>Redirencionando para o login ...</h3>

@code{
    protected override void OnInitialized()
    {
        
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        NavigationManager.NavigateTo("/login");
    }

}
