<div class="d-flex justify-center py-8">
    <img src="imgs/logo.png" alt="Dima - Seu Controle Financeiro" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All" >Dashboard</MudNavLink>
    <MudNavLink Href="/lancamentos/historico">Histórico</MudNavLink>
    <MudNavLink Href="/categorias"></MudNavLink>
    <MudNavLink Href="/premium">Premium</MudNavLink>
    <MudNavLink Href="/sair">Sair</MudNavLink>
</MudNavMenu>